[submodule "src/thirdparty/SQLiteCpp"]
	path = thirdparty/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp
[submodule "thirdparty/sqlite_orm"]
	path = thirdparty/sqlite_orm
	url = https://github.com/fnc12/sqlite_orm.git